.toggle-switch {
  width: 50px;
  height: 24px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  position: relative;
  box-shadow:
    inset 2px 2px 5px rgb(0 0 0 / 20%),
    inset -2px -2px 5px rgb(255 255 255 / 50%);
}

.toggle-switch.active {
  background: linear-gradient(to bottom, #a3e635, #6fcf97);
}

.toggle-switch.inactive {
  background: linear-gradient(to bottom, #e74c3c, #c0392b);
}

.toggle-track {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.toggle-circle {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s ease-in-out;
  box-shadow:
    2px 2px 5px rgb(0 0 0 / 20%),
    -2px -2px 5px rgb(255 255 255 / 50%);
}

.toggle-switch.active .toggle-circle {
  left: calc(100% - 18px);
}

.toggle-switch.inactive .toggle-circle {
  left: 5px;
}
