/* Contenedor principal */
.admin-agenda-container {
    height: 100vh; 
    width: calc(100% - 160px);
    margin-left: 160px;
    padding: 30px;
    border-radius: 8px;
}


/* Estilos para el buscador */
.search-box {
    position: relative;
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
}

.search-input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    outline: none;
}

.spinner {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Estilos para la lista de sugerencias */
.dropdown-suggestions {
    position: relative;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 2000;
    display: block;
}

.suggestion-item {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 15px;
}

.suggestion-item.more-results {
    font-weight: bold;
    text-align: center;
    cursor: default;
}


@media (max-width: 768px) {
    .admin-agenda-container {
        width: 100%;
        padding: 20px;
    }

    .search-input {
        width: 100%;
        margin-left: 40px; 
    }

    .search-box {
        width: 90%;
    }

    .dropdown-suggestions {
        width: 100%;
    }
}

