.time-selection {
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding-top: 60px;
}

.time-selection header {
  z-index: 20;
  background: transparent;
  padding-bottom: 10px;
}

.time-selection .back-button {
  font-size: 18px;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.time-selection .back-button:hover {
  color: #1e553f;
}

.nutritionist-info {
  margin-top: 50px;
  text-align: center;
}

.nutritionist-info h5 {
  font-size: 16px;
  color: #284e3d;
  margin-bottom: 4px;
}

.nutritionist-info p {
  font-size: 14px;
  color: #1e3d2c;
  font-weight: bold;
}

/* Calendario */
.time-selection .react-calendar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 12px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
  overflow: hidden;
}

.time-selection .react-calendar-navigation {
  background-color: #d4f1e1;
  color: #2f7d60;
  font-weight: 600;
  border-bottom: 1px solid #a1d9bf;
}

.time-selection .react-calendar-navigation button {
  color: #397a5b;
  font-size: 1.2em;
}

.time-selection .react-calendar-month-view-weekdays-weekday {
  color: #2f7d60;
  font-weight: 600;
}

.time-selection .react-calendar-tile {
  background-color: transparent;
}

.time-selection .react-calendar-tile-active {
  background-color: #2f7d60;
  color: #fff !important;
}

/* stylelint-disable selector-class-pattern */
.time-selection .react-calendar__tile--now:not(.react-calendar__tile--active) {
  border: 2px solid #2f7d60;
  background-color: #e6fbf0;
  color: #284e3d;
}

.time-selection
  .react-calendar__tile--now:not(.react-calendar__tile--active):hover {
  background-color: #d4f1e1;
}

.time-selection
  button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--now {
  background-color: #2f7d60;
  color: #fff;
}

.time-selection
  button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--now:hover {
  background-color: #1aa45b;
}

.time-selection button.react-calendar__tile.react-calendar__tile--active,
.time-selection button.react-calendar__tile.react-calendar__tile--rangeStart,
.time-selection button.react-calendar__tile.react-calendar__tile--rangeEnd {
  background-color: #2f7d60 !important;
  border: 2px solid #2f7d60;
}

.react-calendar__tile--weekend {
  color: #ccc;
  cursor: not-allowed;
  background-color: #f8f8f8;
}
/* stylelint-enable selector-class-pattern */

.time-selection .react-calendar-tile-disabled {
  color: #aeb5ab !important;
}

.time-selection .time-button-container,
.modal-time-buttons {
  background-color: #e9f8f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #c6e7d4;
}

.time-selection .time-button,
.modal-time-buttons .time-button {
  background-color: #fff;
  color: #2f7d60;
  border: 2px solid #2f7d60;
  border-radius: 8px;
  width: 64px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.time-selection .time-button:hover,
.modal-time-buttons .time-button:hover {
  background-color: #d4f1e1;
}

.time-selection .time-button.selected,
.modal-time-buttons .time-button.selected {
  background-color: #2f7d60;
  color: #fff;
}

.time-selection .time-button:disabled {
  background-color: #f0f0f0;
  color: #a0a0a0;
  border-color: #d0d0d0;
  cursor: not-allowed;
}

.time-selection .show-more {
  background-color: #fff;
  color: #2f7d60;
  border: 2px solid #2f7d60;
  border-radius: 8px;
  width: 64px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
}

.time-selection .confirm-btn {
  background-color: #c0c0c0;
  color: #6c6c6c;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto 0;
  border: none;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.time-selection .confirm-btn.enabled {
  background-color: #20c06f;
  color: #fff;
}

.time-selection .confirm-btn.enabled:hover {
  background-color: #1aa45b;
}

.modal-time-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 400px;
  overflow-y: auto;
}

@media (width <= 480px) {
  .content-wrapper {
    padding: 0 5vw 20px;
    max-width: 90vw;
  }

  .time-selection .confirm-btn {
    font-size: 14px;
    padding: 14px 0;
  }
}
